*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexbox{
    font-size: 16px;
    font-family: 'Whitney', sans-serif;
}
header{
    background-color: #3161e0;
    line-height: 30px;
}

.container{  
    width: 90%;
    margin: 0 auto;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

#logo{
    float: left;
    width: 120px;
}
#logo img{
    width: 100%;
    margin-top: 6px;
}
.main-nav{
    float: left;
    width: calc(100% - 240px);
    text-align: center;
}
ul{
    margin-top: 5px;
}
ul li{
    display: inline-block;
    list-style-type: none;
}
.main-nav ul li a{
    padding: 20px;
}
.main-nav a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
#accedi{
    float: right;
    margin-top: 7px;    
}
#accedi a{
    background-color: white;
    border-radius: 40px;
    width: 120px;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 5px 15px;
}
#accedi a:hover{
    color:#8ea1e1
}
#jumbo{
    background-image: url(img/jumbo.png);
    background-size: cover;
    text-align: center;
    color: #FFF;
    padding-bottom: 65px;
}
#jumbo .jumbo-container{
    width: 50%;
    margin: auto;
    padding-top: 100px;
}
#jumbo h1{
    font-size: 40px;
    margin-bottom: 50px;
}
#jumbo p{
    margin-bottom: 50px;
}
.download, .browser{
    display: inline-block;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

.download{
    background-color:rgba(255,255,255, .9);
    color: #24282b;
}
.download:hover{
    background-color: white;
}
.browser{
    background-color: rgba(0, 0, 0, .7);
    color: #fcfcfc;
}
.browser:hover{
    background-color: #23272a;
 }
i{
    padding: 0 5px;
}
.row{
    padding: 50px 0;
}
.server-image{
    display: inline-block;
}
.server-image img{
    width: 500px;
    margin-left: 200px;
}
.server-title{
    display: inline-block;
    width: 150px;
    margin-top: 35px;
}
.server-text{
    font-size: 13px;
    margin-top: 10px;
}
.three{
    vertical-align: top;
}
.server-title-left{
    display: inline-block;
    width: 150px;

}
.server-image-left img{
    width: 500px;
    margin-left: 80px;
    display: inline-block;
}
.server-image-left{
    display: inline-block;
}
.row.two{
    padding-left: 250px;
    background-color: #f6f6f6;
    padding-bottom: 100px;
}
.row.four{
    text-align: center;
    background-color: #f6f6f6;
}
.server-title-four{
    width: 800px;
    margin: auto;
}
#stars{
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: inherit;
    line-height: 50px;
}
.download.footer{
    background-color: rgba(142,161,225, .8);
    color: white;
    margin-top: 25px;
}
.download.footer:hover{
    background-color:#8ea1e1;
    cursor: pointer;
}
.ita img{
    height: 20px;
    margin-bottom: 20px;
}
.ita span{
    vertical-align: top;
}
.footer-titles{
    color: rgb(142,161,225);
    margin-bottom: 20px;
}
footer{
    background-color: #23272a;
    color: white;
}
.footer-left{
    padding: 40px 100px;
    width: 400px;
}
.fa-brands{
    margin: 0 5px 0 0;
    text-align: left;
}
