*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: 'Whitney', sans-serif;

}
.container-header{
    background-color: #3161e0;

}
.container-header::after{
    content: "";
    display: table;
    clear: both;
}
.logo img{
    float: left;
    width: 150px;
}
.main-nav{
    float: left;
    width: 90%;
    text-align: center;
}
ul li{
    display: inline-block;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
#accedi{
    float: right;
    border-radius: 50%;
    display: inline-block;
    width: 150px;
}


 /* .main-nav{ 
    width: calc(100% - 100px);
}*/
